.feature{
    height: 100vh;
}

.header--logo--home img{
    height: 300px;
    margin-top: -150px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
.container1 {
    margin-top: -380px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.buttonEnter{
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 30px;
}


.usersImg{
    width: 150px;
    height: 160px;
    margin-left: 20px;
}
