footer{
    font-size: 8px;
    margin: 50px 0;
    text-align: center;
}

.footer--div{
    height: 125px;
    background-color: #000;
}

.footer--logo img{
    width: 55px;
    height: 55px;
}

.footer--h1{
  padding-top: 8px;
}